<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бетельгейзе</title>
    <link type="text/css" rel="stylesheet" href="{% static 'paper/css/style.css' %}">
    <script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__h-flexbox">
            <div class="h-flexbox__tb">
                <h1 class="title"><a href="/">Бетельгейзе</a></h1>
                <button class="new-card-btn" ><a class="new-card-link" href="/create">+      Новая запись</a></button>
            </div>
            <input class="search" type="search" name="" id="" placeholder="Поиск ">
        </div>
    </header>

    {% block content %}
    {% endblock %}
    
    <footer class="footer">
        <p class="footer__text"> &#169 2023 Бетельгейзе. Все права защищены.</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </footer>
</body>
</html>