{% extends 'paper/base.html' %}
{% load static %}
{% block content %}
<main class="main" >
    <div class="gallery">
        <ul class="gallery__list">
            {% for p in papers%}
            <li class="list__card">
                <ul class="card__info">
                    <div class="card__id-and-btn">
                        <li class="card__id">{{p.code}}</li>
                        <li class="card__btn"><button class="card__redact" onclick="window.open('{{p.get_absolute_url}}')"></button></li>
                    </div>
                    <li class="card__title">{{p.title}}</li>
                    <li class="card__description">{{ p.get_subtitles_as_string }}</li>
                    <div class="card__author-and-date">
                        <li class="card__author">   <i>{{ p.get_authors_as_string }}</i>   </li>
                        <li class="card__date"><i>{{ p.get_years_as_string }}</i></li>
                    </div>
                </ul>
                <div class="card__container-img">
                    <img class="card__img" src="{{ p.get_latest_image.url }}" alt="">
                </div>
            </li>  
            {% endfor %}
        </ul>
    </div>
</main>
{% include "paper/pagination.html" with page=page_obj %}
{% endblock %}